.nm-join-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 1.0625rem;
	font-weight: 700;
	color: #ffffff;
	padding: 0.325rem 1.25rem;
	background-color: #CF050E;
	border-radius: 100px;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;

	&:before {
		font-family: "Font Awesome 5 Free";
		content: "\f2bd";
		position: relative;
		margin-left: 0.625rem;
		font-size: 1.6875rem;
	}

	&:hover {
		background-color: #B30D15;
	}
}
