.entry-content {
	p {
		color: #000000;
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.7;
	}

	.elementor_credit {
		color: gray;
		font-size: 0.875rem;
		margin: 0;
	}

	.media_image {
		margin-bottom: 1.5rem;
		img {
			display: block;
			margin-bottom: .25rem;
		}
	}
}
