.small-post-image {
	width: 8.375rem;
	height: 5.625rem;
	object-fit: cover;
}

.medium-post-image {
	width: 100%;
	height: 11rem;
	object-fit: cover;
}

.large-post-image {
	width: 100%;
	height: 22rem;
	object-fit: cover;
}
