.nm-running-status {
	position: fixed;
	top: 7vh;
	padding: .5rem 1rem;
	background-color: #29326d;
	color: #ffffff;
	font-size: 2.25rem;
	font-weight: 700;
	z-index: 9999999;

	&.bottom {
		text-align: center;
		padding: 1rem;
		width: 100%;
		top: auto;
		bottom: 0;
	}
}
