.single {
	.avatar-55 {
		display: block;
		border-radius: 100%;
		width: 55px;
		height: 55px;
		object-fit: cover;
	}

	.post-meta-box {
		border-bottom: 2px solid #CEC5C5;
	}

	.media_image {
		img {
			width: 100%;
		}
	}

}
