@import "tailwindcss/components";

@import './general.pcss';
@import './text.pcss';
@import './single.pcss';
@import './join.pcss';
@import './images.pcss';
@import './box-content.pcss';

@import "tailwindcss/utilities";

